--liquibase formatted sql
--changeset ,JPAREDES:1 dbms:mssql runOnChange:true endDelimiter:GO stripComments:false
If EXISTS (SELECT 1 FROM dbo.SYSOBJECTS WHERE id = OBJECT_ID(N'[CNT].[ST_BancosList]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
DROP PROCEDURE [CNT].[ST_BancosList]
GO
CREATE PROCEDURE [CNT].[ST_BancosList]


	@page INT = 1,
	@numpage INT = 10,
	@countpage INT = 0 OUTPUT,
	@filter VARCHAR(50) = NULL


AS
/***************************************
*Nombre:		[CNT].[ST_BancosList]
----------------------------------------
*Tipo:			Procedimiento almacenado
*creación:		16/10/2020
*Desarrollador: (JARCINIEGAS)
*DESCRIPCIÓN:	Lista la información de 
				la tabla [dbo].[Bancos]
				en la tabla de la vista
				Bancos.aspx y crea los 
				filtros para la busqueda 
				de la información
***************************************/
DECLARE @error VARCHAR(MAX), @starpage INT = 1, @endpage INT = 1;
DECLARE @temp TABLE(id_record INT IDENTITY(1,1) ,id_pk INT )
BEGIN TRY
		SET @numpage = ISNULL(@numpage,10);

		SET @starpage = (@page * @numpage) - @numpage +1;
		SET @endpage = @numpage * @page;

		INSERT INTO @temp(id_pk)
		SELECT  id	
		FROM  [CNT].[Bancos]
		WHERE   (ISNULL(@filter,'')='' OR nombre like '%' + @filter + '%')
				

		SET @countpage = @@ROWCOUNT;
		
		
		SELECT Tm.id_record, B.id, B.nombre, B.estado
		FROM @temp Tm 
				INNER JOIN [CNT].[Bancos] B ON Tm.id_pk = B.id 
		WHERE id_record BETWEEN @starpage AND @endpage
				
END TRY
BEGIN CATCH

	    --Getting the error description
	    SELECT @error   =  ERROR_PROCEDURE() + 
					';  ' + CONVERT(VARCHAR,ERROR_LINE()) + 
					'; ' + ERROR_MESSAGE()
	    -- save the error in a Log file
	    RAISERROR(@error,16,1)
	    RETURN  
END CATCH
