<?xml version="1.0"?>
<!--
  Para obtener más información sobre cómo configurar la aplicación de ASP.NET, visite
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="Sintesis" connectionString="Data Source=DEVELOPER-06;Initial Catalog=SintesisCloudMotAburra;Persist Security Info=True;User ID=sa;Password=Sintesis2019" providerName="System.Data.SqlClient"/>    
  </connectionStrings>
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="2147483644"/>
      </webServices>
    </scripting>
  </system.web.extensions>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <defaultDocument>
      <files>
        <add value="index.aspx"/>
      </files>
    </defaultDocument>
  </system.webServer>
  <appSettings>
    <add key="bTabs" value="true"/>
    <add key="rutacreditos" value="D:\Creditos\MotoAburra\"/>
    <add key="rutanomina" value="D:\Nomina\MotoAburra\"/>
    <add key="repbinder" value="D:\Desarrollo\OneDrive\Sintesis Tecnologia\SintesisERP\Version1.0\SintesisERP\SintesisERP\Informes\"/>
    <add key="texterror" value="D:\Personal\Datos\Facturacion\"/>
  </appSettings>
  <system.web>
    <authorization>
      <allow users="admin"/>
    </authorization>        
    <compilation debug="true" targetFramework="4.5.1"/>
    <authentication mode="Forms">
      <forms loginUrl="~/default.aspx" name=".ASPXFORMSAUTH" timeout="300"/>
    </authentication>
    <roleManager enabled="true" cacheRolesInCookie="true" cookieName=".ASPROLES" defaultProvider="MiRoleProvider">
      <providers>
        <clear/>
        <add connectionStringName="Sintesis" applicationName="SINTESIS ERP" name="MiRoleProvider" type="System.Web.Security.SqlRoleProvider"/>
      </providers>
    </roleManager>    
    <httpRuntime useFullyQualifiedRedirectUrl="true" maxRequestLength="1024000000" requestLengthDiskThreshold="1024000000" executionTimeout="999999" requestValidationMode="2.0"/>
    <pages validateRequest="false"/>    
    <membership defaultProvider="MiMembershipProvider">
      <providers>
        <clear/>
        <add name="MiMembershipProvider" type="System.Web.Security.SqlMembershipProvider, System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" connectionStringName="Sintesis" applicationName="SINTESIS ERP" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" minRequiredNonalphanumericCharacters="0" minRequiredPasswordLength="6" passwordFormat="Clear" maxInvalidPasswordAttempts="10"/>
      </providers>
    </membership>
    <globalization culture="en-US" uiCulture="en" requestEncoding="UTF-8" responseEncoding="UTF-8" fileEncoding="UTF-8"/>
  </system.web>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="BouncyCastle.Crypto" publicKeyToken="0E99375E54769942" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-1.8.5.0" newVersion="1.8.5.0"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>
